<div *ngIf="machine">
  <i class="far fa-times-circle"></i>
 <div class="center title"> {{machine.title}}</div>
 <div class="center subtitle">{{machine.manfr}} {{machine.year}}</div>
</div>
<div *ngIf="!machine">
<div class="center padding" style="margin-top:25px;">
    <mat-form-field>
    <input matInput
           placeholder="Search"
           [matAutocomplete]="auto"
           [formControl]="machineCtrl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getSelected($event.option.value)">
      <mat-option *ngFor="let m of filteredMachines | async" [value]="m">
        <span>{{m.title}}</span> |
        <small>{{m.manfr}} {{m.year}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
</div>
<mat-divider style="margin:15px;"></mat-divider>


 <div  *ngIf="machine" class="
 center label">New Issue</div>

<br>

 <div class="center padding"  *ngIf="machine">
 <form class="issueform" (ngSubmit)="onSubmit($event)" #eventDetails="ngForm">

   <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select [(value)]="newIssue.priority">
      <mat-option value="Critical">Critical</mat-option>
      <mat-option value="High">High</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="Low">Low</mat-option>
    </mat-select>
   </mat-form-field>
<br>
   <mat-form-field>
    <mat-label>Issue</mat-label>
    <input matInput placeholder="" [(ngModel)]="newIssue.issue" name="issue">
   </mat-form-field>
<br>
   <mat-form-field>
  <mat-label>Notes</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            name="notes"
            [(ngModel)]="newIssue.notes" ></textarea>
  </mat-form-field>

<br>

  <mat-form-field>
    <mat-label>Cost</mat-label>
    <input matInput placeholder="" name="cost" [(ngModel)]="newIssue.cost" >
  </mat-form-field>

<br>

<button mat-raised-button color="primary" type="submit" class="submit">Submit</button>

 </form>

</div>

