@import '../../app.component';

.label{
  font-size: 25px;
  line-height: 25px;
  color: #839399;
  margin: 20px;
}

.padding {
  padding: 0 50px 0 50px;
}


.submit{
  width: 100%;
  margin-top: 25px;
}

